# /etc/systemd/system/borrowing_worker.service

[Unit]
Description=Processus Timer
After=network.target  

[Service]
Type=notify                         
ExecStart=/usr/sbin/LibraryWorker   
Restart=always                      
RestartSec=10                       

# Optional: run as a dedicated user instead of root
# User=libraryapp
# WorkingDirectory=/usr/sbin/
[Install]
WantedBy=multi-user.target         